*{
padding : 0;
margin : 0 auto;
}
#symbol
{
font-family:Brush Script MT, Brush Script Std, cursive;
font-size : 35px;
color : #fff;
position : absolute;
top : 7%;
left : 10%;
transform : translate(-50%,-50%);
}
#title{
font-family :Brush Script MT, Brush Script Std, cursive;
font-weight: bolder;
font-size: 45px;
color : #fff;
position : absolute;
top : 9%;
left : 10%;
transform : translate(-50%,-50%);
}
#subtitle{
font-family :Brush Script MT, Brush Script Std, cursive;
color : #fff;
font-size : 20px;
position :absolute ;
top : 14%;
left : 10%;
transform : translate(-50%,-50%);
}
#header
{
width :100%;
height :140px;
background : #FE2E2E;
margin-top : -10px;
}
#searchbox
{
position : absolute;
top : 8%;
left : 35%;
}
#topnav
{
  width: 100%;
  height : 40px;
  background : #D7DBDD;
}
.search
{
width : 300px;
height : 35px;
border : none;
border-radius: 5px;
}
.search-button
{
width : 80px;
height : 30px;
border : none;
border-radius : 10px;
font-family : Century Gothic;
background-color : #fff;
color : #FE2E2E;
font : bold;
}
.topnav {
    display: block;
    background-color:#E6B1B8;
}
.topnav ul {
    text-align: right;
    width: 100%;
    height:30px;
}
.topnav ul li {
    display: inline;
    padding: 0 5px;
}
.topnav ul li a {
    color: #fff;
    font-family: Century Gothic;
    font-size : 15px;
    text-decoration: none;
}
.topnav ul li a:hover {
    color: #3605bb;
}
.page-nav
{
display : block;
}
.page-nav ul
{
text-align :center;
margin-top: 60px;
}
.page-nav ul li
{
display : inline;
padding : 30px;
}
.page-nav ul li a
{
    text-decoration: none;
    color :#fff;
    font-family: Century Gothic;
}

img
{   
    width:100%;
    height:400px;
}
#slider
{
    width:800px;
    height:400px;
    margin:20px auto;
    position:relative;
}
button
{
    padding:15px;
    border:none;
    background-color : #FE2E2E;
    font-size: 20px;
    color:#fff;
    top:45%;
    position:absolute;
}
.next
{
    margin-left:759px;
}
.about-us
{
font-family : Century Gothic;
color : #FE2E2E;
position : relative;
top : 75px;
margin-left: 100px;
margin-right: 100px;
}
.container
{
    position:relative;
    top:100px;
    margin-left: 100px;
    margin-right: 100px;
}
.section-header
{
    font-family : Century Gothic;
    color : #FE2E2E;
    text-align :center;
}
.product-container
{
    position : relative;
    top:20px;
    display : block;
}
.product
{
display : block;
float : left;
}
.product-preview
{
    background-size:100% auto;
    background-position:centure;
    background-repeat:none;
    border: 1px solid #FE2E2E;
    width:230px;
    height:300px;
    float:left;
    margin:17px;
}
.product-details-container
{
    position:relative;
    top:70%;
    width:100%;
    height:90px;
    text-align:center;
    background-color:#FE2E2E;
}

.product-preview a
{   
    position:relative;
    top:5%;
    color:#fff;
    font-family:Century Gothic;
    text-decoration:none;
}
.arrow-up
{
height:0;
width:0;
position:absolute;
right: 180px;
top: 19px;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
border-bottom:12px solid grey;
display:none;
}
.login-form
{
position:absolute;
right:50px;
width:300px;
height:200px;
background:grey;
border-radius:5px;
display:none;
z-index:1;
}
.login-form button
{
position:relative;
top:15px;
font-size:15px;
background:#fff;
color:#FE2E2E;
padding:5px;
border:transparent;
border-radius:5px;
}
.login-form a
{
position:relative;
top:30px;
}
.login-form
{
text-align:center;
padding-top:40px;
}
.login-form input
{
margin:5px;
height:30px;
width:200px;
font-family:Century Gothic;
border:transparent;
border-radius:6px;
}
.arrow-up2
{
height:0;
width:0;
position:absolute;
right: 110px;
top: 19px;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
border-bottom:12px solid grey;
display:none;
}
.regform
{
position:absolute;
right:25px;
width:300px;
height:300px;
background:grey;
border-radius:5px;
z-index:2;
text-align:center;
padding-top:40px;
display:none;
}
.regform input
{
margin:5px;
height:30px;
width:200px;
font-family:Century Gothic;
border:transparent;
border-radius:6px; 
}
.regform button
{
position:relative;
top:15px;
font-size:15px;
background:#fff;
color:#FE2E2E;
padding:5px;
border:transparent;
border-radius:5px;
width:100px
height:30px;
font-family:Century Gothic;
}
