*{
    padding : 0;
    margin : auto 0;
}
body
{
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://static.wixstatic.com/media/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg/v1/fill/w_1920,h_1080,al_c,q_85,usm_0.33_1.00_0.00/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.webp");
}
.loginForm
{
    position:absolute;
    left:50%;
    top:50%;
    transform : translate(-50%,-50%);
    background-color: rgba(255, 255, 255, .4);
    width:450px;
    height:650px;
}
form img
{   
    position:absolute;
    left:5%;
    top:3%;
    width:25%;
    height:20%;
}
#LogoTitle
{
    position: absolute;
    left:33%;
    top:8%;
    font-family: system-ui;
    font-size: 23px;
    font-weight: bold;
}
#userDetails
{
    position: absolute;
    left: 14%;
    top: 24%;
}
#userDetails input
{
    width:300px;
    height:30px;
    border:1px solid #fff;
    margin:10px;
    padding:2px;
    background-color:#fff;
}
form button
{
    position:absolute;
    left:168px;
    top:520px;
    width:100px;
    height:35px;
    background-color: darkgreen;
    color:#fff;
    border:1px solid darkgreen;
    border-radius:3px;

}
form a
{
    position:absolute;
    left:80px;
    top:580px;
    color:#000;

}