           *{ 
             padding:0;
             margin:0;
            }
           .split
            {
              height:100%;

            }
            .right
            {
                width:40%;
                height:100%;
                position:absolute;
                left:0%;
                top:0%;
                background-color: blue;

            }
            .left
            {
                width:60%;
                height:100%;
                position:absolute;
                left:40%;
                top:0%;
                background-color: #fff;
                display:block;
                border:1px solid #fff
            }
            .selfip,.ip1,.ip2
            {
                width:100%;
                height:10%;
                background-color:grey;
                display:block;
                margin-top:5px;
                border:1px solid blue;
            }
            a
            {
                position:absolute;
                left:30%;
                font-size: 30px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color:#fff;
            }
             img
            {
               width:90px;
               height:80px;
               border-radius:50%;
               position:absolute;
               left:10%;
            }
            .chatbox
            {
                position:absolute;
                top:88%;
                left:40%;
                background-color:grey;
                display:block;
                width:60%;
                height:12%;
                z-index: 1;
            }
            #textbox
            {   
                border:1px solid grey;
                border-radius: 60px;
                width:70%;
                height:80%;
                position:absolute;
                top:10%;
                left:50px;
                font-size: 20px;
                
            }
            #submitbutton
            {
                position:absolute;
                top:18px;
                left:77%;
                width:80px;
                height:80px;
                border:1px solid transparent;
                border-radius:50%;
                font-size:40px;
                color:grey;

            }
            #chatheader
            {
                background-color:blue;
                position:absolute;
                width:100%;
                height:100px;
                border:1px solid #fff;
                

            }
            #messagelog
            {
                position:absolute;
                top:100px;
                width:100%;
                height:78%;
                background-color:cornflowerblue;
                overflow: scroll;
            }
           #msgsend
           {
    
            float:right;
            list-style-type:none; 
            
            background-color: rgb(243, 159, 126);
            font: 400 .9em 'Open Sans', sans-serif;
            border: .5px solid transparent;
            border-radius: 6px;
            position:relative;
            margin-right: 10px;
            margin-top:10px;
            z-index: 1;
            padding:20px;
            width:40%;
            word-wrap: break-word;
           }
         /*  #msgrecvd
           {
    
            float:left;
            list-style-type:none;
            overflow:hidden;
            text-align:left;
            background-color: rgb(240, 245, 179);
            font: 400 .9em 'Open Sans', sans-serif;
            border: .5px solid transparent;
            border-radius: 6px;
            position:relative;
            margin-left: 10px;
            margin-top:10px;
            z-index: 1;
            padding:20px;
            width:40%;
             word-wrap: break-word;
           }*/
          /* .sended
           {   float:right;
               width:40%;
               height:auto;
               word-wrap: break-word;
            
           }*/
           .empty
           {
            
               overflow: auto;
               width: 100%;
           }
           /* .recieved
           {
               float:left;
               height:100%;
               word-wrap: break-word;
           }*/